
html,body{
    height:100%;
    width:100%;
    font-family:'poppins', sans-serif;
    color: #222
  }
  .Htexts{
    color: #752dce;
    padding-top:5%;
  }
  .navbar{
    padding:8px;
  }
  .navbar-nav li{
    padding-right:20px;
  }
  .nav-link{
    font-size: 17px !important;
  }
  .nav-item :hover{
    background-color: #752dce;
  }
  form{
    width:360px;
    height:580px;
    margin:20px;
  }

  .btn-primary{
    font-size: 20px;
    border-radius: 15px;
    margin:10px;
    background-image: linear-gradient(120deg,#752dce,#203020);}

  .avatar{
    width:200px;
    padding-left:100px;
    
  }
  form h2{
    font-size:1rem;
    text-transform: uppercase;
    margin:15px 0;
    color: #333;
    transition:0.7s ease;
  }
  .i{
    display:grid;
    justify-content:center;
    align-items: center;
    color:#752dce;}  

    
form .input-div{
    display:grid;
    grid-template-columns: 10% 80%;
    margin:auto;
}

  